<section class="hero-text confidence">
	<h1>Confidence Based Question Answering</h1>
	<h2 class="teaser">Concept Creation • Prototyping • Visual Design • HTML/CSS</h2>
</section>

<section class="work-details confidence">

	<div class="img-thumb">
		<img src="{{ "/assets/answer-hero.jpg" | relative_url }}" />
	</div>

	  <div class="grid-container">
	  <div>
	  	<h2>About</h2>
			<p>Microlearning questions is one of the main driver within the Axonify platform. Short 3-5 minute training bursts per day allow users to be trained quickly over a short period of time. This confidence based answering system is how we do it.</p>
	  </div>

	  <div>
	  <h2>Problem</h2>
	  <p>To better track user topic knowledge, I was asked to add confidence based answering to the microlearning experience. By asking how confident the user is on the answer, the system could better track knowledge retention vs knowledge decay based on brain science research. As one of the core UX flows of the platform the solution, a main goal was that I could not add any more time to the end user experience. 3 mins a day is all it should take.</p>
		</div>

	</div>

	<div class="img-thumb no-stretch">
		<img src="{{ "/assets/confidence-flow.png" | relative_url }}" />
		<div class="img-meta">Early Flow - Mobile</div>
	</div>

	<div class="grid-container highlights">
		<div><h2>High-Level Goals</h2></div>
		<div>
			<ul>
				<li>Add confidence based answer option to all question types</li>
				<li>Do not add any additional time to the microlearning experience</li>
				<li>Support both desktop and mobile experiences</li>
			</ul>
		</div>

		<div><h2>Research</h2></div>
		<div>
			<ul>
				<li>Some competitive analysis, not much, we are a disruptor in the field.</li>
				<li>A/B testing with internal users and external customers on different UX flows and verbiage.</li>
				<li>Define easy language to assess confidence. This had to work with a broad target audience (teens to adults)</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src="{{ "/assets/confidence-examples.png" | relative_url }}" />
		<div class="img-meta">Different Verbiage & experience ideas - Mobile</div>
	</div>

	<div class="grid-container spacer">
		<div>
			<h2>Solution</h2>
			<p>After some rounds of testing, showing confidence choices when you select your answer was by far the clear winner. Showing confidence on question answering did not add any extra time or clicks to the UX. Only by selecting your confidence level could you advance to the next question. If answered incorrectly, you would see the correct answer and then be able to move on.</p>
		</div>
	</div>
		
	<div class="grid-container highlights">
			<h2>Key Experiences</h2>
			<ul>
				<li>Simple UI</li>
				<li>Clear easy-to-understand choices</li>
				<li>Clean interaction when selecting answers</li>
				<li>Desktop & Mobile friendly</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src="{{ "/assets/confidence-ux.gif" | relative_url }}" />
		<div class="img-meta">Interaction View - Desktop</div>
	</div>







	  

</section>