<section class="hero-text guided-learning">
	<h1>Guided Learning Path Creation</h1>
	<h2>Concept Creation • Visual Design • Prototyping • CSS Polish</h2>
	<h2 class="blast">Admin portion being built</h2>
</section>

<section class="work-details guided-learning">
	
	<div class="img-thumb">
		<img src="{{ "/assets/guided-hero.jpg" | relative_url }}" />
	</div>

	  <div class="grid-container">
		  <div>
		  	<h2>About</h2>
				<p>Guided learning is a new initiative to help better onboard new employees. By sending a new employee down a predefined training path, employees could be trained more effectively getting them up to speed on a new position sooner.</p>
		  </div>
		  <div>
		  <h2>Problem</h2>
		  <p>I was tasked with coming up with how a guided learning path was created. This flow, which is visible to the user on the front end, would be a predefined list populated with topics and tasks a user needs to complete in order to fulfill job requirements. Like a tech tree, topics and tasks can be gated and locked until other items have been passed or graduated.</p>
			</div>
	 	</div>

		<div class="img-thumb no-stretch">
			<img src={{ "/assets/gl-whiteboard.jpg" | relative_url }} />
			<div class="img-meta">Early Whiteboarding on how linking items might work</div>
		</div>

	<div class="grid-container highlights spacer">
			<h2>Constraints</h2>
			<div>
			<p>With only a few EAP customers, I was asked to not design any net new UX. It was decided we needed to somehow enhance the current UX/UI with the guided learning MVP. This way we could get it out quicker to our EAP customers to test with their employee base. If successful, Im sure a more robust component would be required.</p>
			</div>

			<h2>Scope Creep</h2>
			<div>
			<p>I was also tasked with where and how a task item is created. This was a product requirement from customers. Thankfully, a new content UI was just completed :)</p>
			</div>
		</div>

		<div class="img-thumb no-stretch">
			<img src={{ "/assets/gl-early.jpg" | relative_url }} />
			<div class="img-meta">Early Whiteboarding on how linking items might work</div>
		</div>

	<div class="grid-container highlights">
		<div><h2>High-Level Goals</h2></div>
		<div>
			<ul>
				<li>Find a place admins can create tasks for their guided learning programs</li>
				<li>Enhance the current program UI with the guided learning MVP</li>
				<li>Design an easy way an admin can add, delete, move and link topics and tasks together easily in a way that makes sense</li>
				<li>Don’t bulk up the current UI, keep it as streamlined as possible</li>
			</ul>
		</div>

		<div><h2>Research</h2></div>
		<div>
			<ul>
				<li>Go through customer provided tasks and evaluation paperwork to better understand what type of things a variety of new employees would need to get up to speed on</li>
				<li>Sit in on Product Manager lead customer interviews and help define needs, best practices and requirements.</li>
				<li>Discuss system limitations and edge cases with server and client developers that need to be designed for to correctly mesh MVP into existing UI.</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb no-stretch">
			<img src={{ "/assets/old-new-program.jpg" | relative_url }} />
			<div class="img-meta">Early Whiteboarding on how linking items might work</div>
		</div>

	<div class="grid-container spacer">
		<div>
			<h2>Solution</h2>
			<p class="spacer"><strong>For task creation:</strong> This was a no brainer. Put it in our brand new contentUI. It was designed to be scalable, so adding task in as another content type worked out great. In fact, most of the functionality was already built in other components.</p>

			<p><strong>For “Guided Learning” creation:</strong><i>This was a tough one.</i> After some ideation I came up with a floating toolbar idea that would only appear on hover. The idea is that an admin really does not need to see UI controls until he/she needs to manipulate a specific item. By hiding the controls, I was able to really keep the existing UI clean. In fact, I was able to hide some existing items slimming it down even more.</p>
			<p>When you are just looking at the program, it gives you a clear view of how the training for that selected group is going to look like. This was also something that we never had before.</p>
		</div>
	</div>

	<div class="grid-container highlights">
			<h2>Key Experiences</h2>
			<ul>
				<li>Seamless task creation integration into contentUI</li>
				<li>A (pretty) clean addition to the existing program creation UI</li>
				<li>An innovative hidden toolbar with key actions to manipulate topics and tasks.</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">
			<img src={{ "/assets/usage.gif" | relative_url }} />
			<div class="img-meta">Early Whiteboarding on how linking items might work</div>
		</div>







	  

</section>