<section class="hero-text">
	<h1>Guided Learning Path Creation</h1>
	<h2>Concept Creation • Visual Design • Prototyping • Front End Development</h2>
	<h2>Admin components being built</h2>
</section>

<section class="work-details">
	
	<div class="img-thumb">
		<img src="{{ "/assets/guided-hero.jpg" | relative_url }}" />
	</div>

	  <div class="grid-container">
	  <div>
			<p>The Axonify content management system is one of the core features of the platform. Users come here to create and manage all the microlearning content they want to serve their employees. Content can include different question types (multiple choice, multi-answer, matching, fill in the blank), SCORM modules, Video training, Surveys and Key performance indicators.</p>
	  </div>

	  <div>
	  	<h2>Hats Worn</h2>
			<ul class="key-points">
				<li>Research: User and UX</li>
				<li>Concept creation</li>
				<li>Wireframing</li>
				<li>Visual & Product Design</li>
				<li>Prototyping</li>
				<li>Front end development</li>
				<li>Testing</li>
			</ul>
		</div>
	</div>


	<div class="img-thumb">{image}</div>

	<div class="grid-container">
		<div>
			<h2>Problem</h2>
			<p>The old iteration of content  was showing its age as it was a very click intensive bulky UX. The old iteration was also not supporting industry training design best practices around strategic planning, key learning points, change audits and reviewing.</p>
			<h2>Constraints</h2>
			<p>Had to respect the current content hierarchy: Category > Subject > Topic
			Still needed to support a “click to edit and click to save” paradigm. Autosave was to large of a change from a server development point of view, especially for a v1.</p>
		</div>
	</div>

		<div class="img-thumb">
		<img src={{ "/assets/gl-whiteboard.jpg" | relative_url }} />
		<div class="img-meta">Early Whiteboarding on how linking items might work</div>
	</div>

	<div class="grid-container highlights">
		<div><h2>High-Level Goals</h2></div>
		<div>
			<ul>
				<li>Streamlined content creation, editing and publishing </li>
				<li>Bake in industry standards: training plan, key learning points</li>
				<li>Integrated review process, including off platform reviews</li>
				<li>Import & Export of content</li>
				<li>Audit Trail</li>
				<li>Easy content retrieval and searching</li>

			</ul>
		</div>

		<div><h2>Research</h2></div>
		<div>
			<ul>
				<li>Client interviews, how were they creating content? Where they using industry standards?</li>
				<li>Detailed persona creation with the PM team</li>
				<li>Internal Instructional design interviews with Axonify Instructional design teams</li>
				<li>Show me how the process works today</li>
				<li>How do key learning points (KLPs) link to content and difficulty levels</li>
				<li>How do you currently collaborating with customers</li>
				<li>Is there anything missing from your current process?</li>
				<li>Iterative design with ID and PM teams</li>
				<li>UI prototype testing with internal and external stakeholders</li>
			</ul>
			
			<h3>Pain-Points</h3>
		</div>
	</div>

	<div class="img-thumb">{image}</div>

	<div class="grid-container">
		<div>
			<h2>Solution</h2>
			<p>For the new content UI I opted for a 2 panel “live” view. Essentially each level would have details view with the ability to drill into a sub-view of that category. All editing and creation would be done in these views as well.</p>
		</div>
		<div>
			<h2>Key Features</h2>
			<ul class="key-points">
				<li>One click editing</li>
				<li>Easy Creation</li>
				<li>Bulk Operations</li>
				<li>Searching and Filtering of Content</li>
				<li>Commenting and Auditing</li>
				<li>Content review with review assignment</li> 
				<li>19+ language support</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">{image}</div>







	  

</section>