<header class="desktop">
	<span class="link pull-left"><a href="{{ "/index.html" | relative_url }}">Work</a></span>
  <span class="name">Gianni Casagrande</span>
  <span class="link pull-right"><a href="{{ "/assets/Gianni-Casagrande-Resume.pdf" | relative_url }}" target="_blank">Resume</a></span>
  <span id="myBtn" class="icon pull-right"><i class="fas fa-bars"></i></span>

  <!-- The Modal -->
<div id="myModal" class="modal">
		<span class="close"><i class="fas fa-times"></i></span>
    <div>
    	<a href="{{ "/index.html" | relative_url }}">Work</a>
    	<a href="{{ "/assets/Gianni-Casagrande-Resume.pdf" | relative_url }}" target="_blank">Resume</a>
  	</div>
</div>
</header>