<section class="hero-text">
	<h1>Matching Question</h1>
	<h2>Visual Design • Prototyping</h2>
</section>

<section class="work-details">

	<div class="img-thumb">{image}</div>

	  <div class="grid-container">
	  <div>
	  	<h2>About</h2>
			<p>Matching question is one of the core question types of the Axonify platform. I was tasked to design a mobile only experience for this question type. The desktop “responsive” experience was not working with our customers and it was very confusing to use.</p>
	  </div>
	</div>


	<div class="img-thumb">{image}</div>

	<div class="grid-container highlights">
			<h2>Problem</h2>
			<div>
			<p>With the app using the same code-base for both desktop and mobile applications, the user experience for one of the more complicated question types, “Matching Question” was suffering. I was tasked with creating a mobile only view for this question type.</p>
		</div>

			<h2>Constraints</h2>
			<div>
			<p>Cannot vary functionality wise. Still need the ability to zoom images, show your current matches and see correct matches if user answers incorrectly.</p>
			</div>
	</div>


	<div class="img-thumb">{image}</div>

	<div class="grid-container highlights">
		<h2>High-Level Goals</h2>
		<div>
			<ul>
				<li>Mobile only experience</li>
				<li>Do not vary far from current implementation</li>
			</ul>
		</div>

		<h2>Research</h2>
		<div>
			<ul>
				<li>Examine some online matching games for examples of how some actual games treat matching</li>
				<li>Reading the customer feedback “I can’t figure this out”, “This UI sucks” :)</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">{image}</div>

	<div class="grid-container spacer">
		<div>
			<h2>Solution</h2>
			<p>I decided on a 2-up view with the ability to cycle through different answers. The idea is to cycle the items until you find the correct answers. Hitting the giant match button will place the matches into a preview area where you can review or remove matches. Once you have matched all, you continue with confidence based answer.</p>
		</div>
	</div>

		<div class="grid-container highlights">
			<h2>Key Features</h2>
			<ul>
				<li>add some</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">{image}</div>
</section>