<section class="hero-text confidence">
	<h1>Odds n' Ends</h1>
	<h2 class="teaser">A collection of other things I have done</h2>
</section>

<section class="work-details confidence">

	<div class="img-thumb">
		<img src="{{ "/assets/billings.jpg" | relative_url }}" />
	</div>

	<div class="grid-container">
		<div>
			<h2>Billings Beer League Hockey</h2>
			<p>Here are a few logo concepts for my beer league hockey team. Billings Orthotics is our sponsor so I thought a mangled foot would be in order. Unfortunatley, after a team vote, the giant "B" was selected and we got the red jerseys made. A very fun project that means alot to me.</p>
		</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src="{{ "/assets/oaks.jpg" | relative_url }}" />
	</div>

	  <div class="grid-container">
	  <div>
	  	<h2>Guelph Oaks</h2>
			<p>This is the logospot for the semi-professional soccer team I helped co-found. This logo has appeared on team kits, shirts and scarves. <span class="semibold">To-do:</span> Dig out scarf and take a pic.</p>
	  </div>
	</div>

	<div class="img-thumb no-stretch">
		<img src="{{ "/assets/slots.gif" | relative_url }}" />
	</div>

	<div class="grid-container">
		<div>
			<h2>Slot Machine</h2>
			<p>This was a fun project for the reward area of the Axonify platform. Users can spend there points on a slot machine to win a prize. The cool thing about this project was that it works in older browsers from IE7 and up!</p>
		</div>
	</div>


</section>