<section class="hero-text filter">
	<h1>Search & Data Filtering, Mobile</h1>
	<h2 class="teaser">Research • Concept Creation • Visual Design • Prototyping • User Testing</h2>
</section>

<section class="work-details filter">
	
	<div class="img-thumb">
		<img src="{{ "/assets/filter-hero.png" | relative_url }}" />
	</div>

	  <div class="grid-container spacer">
	  <div>
	  	<h2>About</h2>
			<p>The Axonify platform gives managers and administrators great insight into the knowledge and health of your workforce training. Managers and admins can view and report on data based on up to 5 different criterias. Lots of options and insights to say the least.</p>
	  </div>
	</div>

	<div class="grid-container">
	  <div>
	  	<h2>Problem</h2>
			<p>While working on a page performance issues, server developers discovered that a single user had created 800 individual custom filters. This was hurting page load. Each filter was setup to view 1 single team. Why? Well a huge product gap was found, there was no easy way to search or filter for a singular team without creating a “custom filter” for that view. Not good. Custom filter creation is very intensive in the current iteration. All the user wants to do is view a team or two.<p>
	  </div>
	</div>


	<div class="img-thumb no-stretch">
		<img src={{ "/assets/filter-scroll.gif" | relative_url }} />
		<div class="img-meta">All these custom filters only have one team...that's alot of filters</div>
	</div>

	<div class="grid-container highlights">

			<h2>Constraints</h2>
			<div>
			<p>Could not abandon current functionality. Users still needed to create custom filters based on all five data types. We also did not want to break functionality for current users. We just needed to solve our main use case, quickly filter on one or multiple teams.</p>
			</div>

			<h2>Scope Creep</h2>
		<div>
			<p>Currently, all the "zones" were using different filter components to search and filter data. It was decided that we were going to try to create a single component that could be re-used globally over all “zones”. Nail down mobile fist, then we would port it over to a desktop experience as well. We were opening up the guts anyway!</p>
		</div>

			<h2>High-Level Asks</h2>
			<div>
				<ul>
					<li>Ability to find a singular item easily.</li>
					<li>Filter one to many teams or items quickly, possibly in an ad-hoc way</li>
					<li>Mobile friendly first, support for active on-the-go managers</li>
					<li>Try to create a standalone component that can be used in other “appzones”</li>
				</ul>
			</div>
			
		</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src={{ "/assets/filter-sketch.jpg" | relative_url }} />
		<div class="img-meta">Early Sketches</div>
	</div>

	<div class="grid-container highlights">
		<h2>Research</h2>
		<div>
			<ul>
				<li>Worked with development to visit user’s production environment to see how admins were using the current filtering.</li>
				<li>With the aid of my PM, touched base with customers to understand why they felt the need to create all these filters.</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src={{ "/assets/filter-lowfed.jpg" | relative_url }} />
		<div class="img-meta">Low Fed Screens</div>
	</div>


	<div class="grid-container spacer">
		<div>
			<h2>Solution</h2>
			<p class="spacer">After leading some design meetings, it was decided to go with a search first approach. Being able to find a single team quickly was discovered to be pretty much 80% of the use cases. If the user needed to filter on more data, the idea was they could go into the advanced filter mode where they can view, edit or create new filters based on any criteria the platform offered.</p>
			<p>After some testing and iterations, it was found that it would be great to filter quickly on any of the criteria easily. I beleive that this would prevent the creation of many custom filters, and if by chance the user found the data on a specific view helpful, the ability to easily save it as a custom filter would still exisit.</p>
		</div>
	</div>
	
	<div class="grid-container highlights">
			<h2>Key Experiences</h2>
			<ul>
				<li>Easily find a single item under any criteria in under 3 clicks</li>
				<li>Filter data quickly on any criteria, without having to create a filter</li>
				<li>Quickly save any ad-hoc state into a filter you can re-use</li>
				<li>Selected items and filters persist over page loads</li>
				<li>Flexible UI design to support 19+ languages</li>
			</ul>
		</div>
	</div>

		<div class="grid-container spacer">
		<div>
		<h2>User Testing Results</h2>
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS3ljDxats0STY7cbjJBD-lGSV0Qa-qbZP-wC09UK0SymDx7P0i5FPy9ZDhmbn8rJLybD2N-czzQ02a/embed?start=false&loop=true&delayms=3000" frameborder="0" width="640" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
		<div class="img-meta">User images and names changed for privacy</div>
	</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src={{ "/assets/filter-shot-examples.jpg" | relative_url }} />
		<div class="img-meta">Serach results & filter creation</div>
	</div>

	<div class="img-thumb no-stretch">
		<img src={{ "/assets/filter-example-2.jpg" | relative_url }} />
		<div class="img-meta">Filter selection & Ad-hoc filtering</div>
	</div>

	
	  

</section>