<section class="hero-text">
	<h1>Search & Filter - Mobile First</h1>
	<h2>UX Research • Visual Design • Prototyping • Front End Development</h2>
	<h2>Currently Testing</h2>
</section>

<section class="work-details">
	
	<div class="img-thumb">{image}</div>

	  <div class="grid-container">
	  <div>
	  	<h2>About</h2>
			<p>The Axonify platform gives managers and administrators great insight into the knowledge and health of your workforce. Managers and admins can view and report on data based on up to 5 different criterias. Lots of options and insights to say the least.</p>
	  </div>
	</div>


	<div class="img-thumb">{image}</div>

	<div class="grid-container highlights">
			<h2>Problem</h2>
			<div>
			<p>Working with server developers, it was discovered that a single user had created 800 individual custom filters. Each filter was setup to view 1 single team. Why? Well a huge product gap was found, there was no easy way to search or filter for a singular team without creating a “custom filter” for that view. Not good. Custom filter creation is very intensive in the current iteration.<p>
			</div>

			<h2>Constraints</h2>
			<div>
			<p>Could not abandon current functionality. Users still needed to create custom filters based on all the data types mentioned above. We also did not want to break functionality for current users.</p>
			</div>
			
			<h2>Scope Creep</h2>
			<div>
			<p>All platforms were using a different filter components to search and filter data. It was decided that we were going to try to create a single component that could be used globally over all “Appzones”. We were opening up the guts anyway!</p>
			</div>
		</div>
	</div>

	<div class="img-thumb">{image}</div>

	<div class="grid-container highlights">
		<h2>High-Level Asks</h2>
		<div>
			<ul>
				<li>Ability to find a singular item easily.</li>
				<li>Filter one to many teams quickly, possibly in an ad-hoc way</li>
				<li>Be able to create filters based on teams only</li>
				<li>Mobile friendly first, support for active on-the-go managers</li>
				<li>Try to create a standalone component that can be used in other “appzones”</li>
			</ul>
		</div>

		<h2>Research</h2>
		<div>
			<ul>
				<li>Worked with development to visit user’s production environment to see how admins were using the current filtering.</li>
				<li>With the aid of my PM, to touch base with users to understand why they felt the need to create all these filters.</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">{image}</div>

	<div class="grid-container">
		<div>
			<h2>Solution</h2>
			<p>After leading some design meetings, I decided to go with a search first approach. Being able to find a single team quickly was discovered to be pretty much 80% of the use cases. If the user needed to filter on more data, they could go into the advanced filter setup where they can view, edit or create new filters based on any criteria the platform offered.</p>
		</div>
		<div>
			<h2>Key Features</h2>
			<ul class="key-points">
				<li>Need some</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">{image}</div>







	  

</section>