<section class="work-details">
	
	<div class="detail-wrap">
		<h1>Content UI • <i>Administrator backend Desktop</i></h1>  	
	</div>

	<div class="img-thumb">{image}</div>

	  <div class="grid-container">
	  <div>
	  	<h2>Role</h2>
			<p>As lead designer, I worked closely with the PM team to update our content creation and maintenance flows. The main focus was on minimal clicks and optimized ease of use. This was not touched since I created the first iteration of this UI 4 years earlier...which I don’t know what I was thinking at the time.</p>
	  </div>

	  <div>
	  	<h2>Hats Worn</h2>
			<ul class="key-points">
				<li>Research: User and UX</li>
				<li>Concept creation</li>
				<li>Wireframing</li>
				<li>Visual & Product Design</li>
				<li>Prototyping</li>
				<li>Front end development</li>
				<li>Testing</li>
			</ul>
		</div>
	</div>


	<div class="img-thumb">{image}</div>

	<div class="grid-container">
		<div>
			<h2>Problem</h2>
			<p>Larger companies have more content (questions, training modules etc). As we signed these large companies onto the platform it was evident right away that what we had a very clumsy and slow interface when supporting these larger datasets. There was also no way to accommodate industry best practices such as learning plans, key learning points and question difficulty leveling.</p>
		</div>
	</div>

	<div class="img-thumb">{image}</div>

	<div class="grid-container highlights">
		<div><h2>High-Level Goals</h2></div>
		<div>
			<ul>
				<li>Streamlined content creation, editing and publishing</li>
				<li>Bake in industry standards: training plan, key learning points</li>
				<li>Integrated review process, including off platform reviews</li>
				<li>Audit Trail and user accountability</li>
				<li>Easy content retrieval and searching</li>
			</ul>
		</div>

		<div><h2>Research</h2></div>
		<div>
			<ul>
				<li>Client interviews, how were they creating content?</li>
				<li>Detailed persona creation with the PM team</li>
				<li>Instructional design interviews to determine best practices for content creation. Show me how the process works today</li>
				<li>How do key learning points (KLPs) link to content and difficulty levels</li>
				<li>Iterative design</li>
				<li>UI prototype testing with internal and external stakeholders</li>
			</ul>
			
			<h3>Pain-Points</h3>
			<p>blah blah blah</p>

			<h3>Constraints</h3>
			<p>Had to respect the current content hierarchy: Category > Subject > Topic
			Still needed to support a “click to edit and click to save” paradigm. Autosave was to large of a change from a server development point of view, especially for a v1.</p>
		</div>
	</div>

	<div class="img-thumb">{image}</div>

	<div class="grid-container">
		<div>
			<h2>Solution</h2>
			<p>For the new content UI I opted for a 2 panel “live” view. Essentially each level would have details view with the ability to drill into a sub-view of that category. All editing and creation would be done in these views as well.</p>
		</div>
		<div>
			<h2>Key Features</h2>
			<ul class="key-points">
				<li>One click editing</li>
				<li>Easy Creation</li>
				<li>Bulk Operations</li>
				<li>Searching and Filtering of Content</li>
				<li>Commenting and Auditing</li>
				<li>Content review with review assignment</li> 
				<li>19+ language support</li>
			</ul>
		</div>
	</div>

	<div class="img-thumb">{image}</div>







	  

</section>