<section class="hero-text">
	<h1>Currently Senior UX/UI @ <a href="http://www.axonify.com" target="_blank">Axonify</a></h1>
	<h2><a href="http://www.billingshockey.com" target="_blank">Beer League Hockey Player</a> at night...Maybe I can make the NHL?</h2>
</section>

<section class="work-preview">
  <div class="grid-container">
	  <div class="work1">	
	  	<a href="{% link contentui/index.html %}">
	  		<div class="overlay">
	  			<h2>Type goes here</h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work2">
	  	<a href="{% link search-and-filtering/index.html %}">
	  		<div class="overlay">
	  			<h2>Type goes here</h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work3">
	  	<a href="{% link matching-question/index.html %}">
	  		<div class="overlay">
	  			<h2>Type goes here</h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work4">
	  	<a href="{% link guided-learning/index.html %}">
	  		<div class="overlay">
	  			<h2>Type goes here</h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work5">
	  	<a href="{% link confidence-based-answering/index.html %}">
	  		<div class="overlay">
	  			<h2>Type goes here</h2>
	  		</div>
	  	</a>
	  </div>

	</div>
</section>
<section class="about-me">
	<div class="grid-container">
	  <div class="about1">
	  	HI STRANGER
I’m a product designer based in SF, currently helping teams work better together in Evernote. I also mentor students on Designlab. A systems thinker by habit and an artist at heart, my experience spans all phases of the design process—from concept to execution. Résumé here.
	  </div>
	  <div class="about2">
	  	Hats Worn
	  	Research: User and UX
Concept creation
Wireframing
Visual & Product Design
Prototyping
Front end development
Testing

	  </div>
	</div>

</section>