<section class="hero-text home">
	<img class="jello-vertical" src="{{ "/assets/gianni.jpg" | relative_url }}" />
	<h1><span>Currently Senior UX/UI @ <a href="http://www.axonify.com" target="_blank">Axonify</a></span></h1>
	<p>UX/UI Designer based in Waterloo, Ontario <br />
		<span class="emoji">&#x1F3D2</span>Half-Clapper, Top Cheddar <span class="emoji">&#x1F945</span>
	</p>
</section>

<section class="work-preview">
  <div class="grid-container">
  	<div class="work1">	
	  	<a href="{% link contentui/index.html %}">
	  		<img src="{{ "/assets/content-teaser.jpg" | relative_url }}" />
	  		<div class="overlay">
	  			<h2>Content UI<span>Content management system</span></h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work2 trigger">
	  	<a href="{% link search-and-filtering/index.html %}">
	  		<img src="{{ "/assets/filter-teaser.jpg" | relative_url }}" />
	  		<div class="overlay">
	  			<h2>Search & Data Filtering<span>Mobile first approach</span></h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work3">
	  	<a href="{% link guided-learning/index.html %}">
	  		<img src="{{ "/assets/guided-teaser.jpg" | relative_url }}" />
	  		<div class="overlay">
	  			<h2>Guided Learning<span>Training Path Creation</span></h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work4">
	  	<a href="{% link confidence-based-answering/index.html %}">
	  		<img src="{{ "/assets/confidence-teaser.jpg" | relative_url }}" />
	  		<div class="overlay">
	  			<h2>Confidence Based Answering<span>Growing Knowledge</span></h2>
	  		</div>
	  	</a>
	  </div>

	  <div class="work5">
	  	<a href="{% link misc/index.html %}">
	  		<img src="{{ "/assets/odds-teaser.jpg" | relative_url }}" />
	  		<div class="overlay">
	  			<h2>Odds n' Ends<span>Logos and misc items</span></h2>
	  		</div>
	  	</a>
	  </div>

	</div>

</section>