<section class="work-preview">
  <div class="grid-container">
	  <div class="work1">
	  	<div class="thumb"></div>
	  	<div class="name">
	  		<h2>Content UI</h2>
	  		<a href="{% link contentui/index.html %}">Desktop • Administrator backend</a>
	  	</div>
	  </div>

	  <div class="work2">
	  	<div class="thumb"></div>
	  	<div class="name">
	  		<h2>Content UI</h2>
	  		Desktop • Administrator backend
	  	</div>	
	  </div>

	  <div class="work3">
	  	<div class="thumb"></div>
	  	<div class="name">
	  		<h2>Content UI</h2>
	  		Desktop • Administrator backend
	  	</div>	
	  </div>

	  <div class="work4">
	  	<div class="thumb"></div>
	  	<div class="name">
	  		<h2>Content UI</h2>
	  		Desktop • Administrator backend
	  	</div>	
	  </div>

	</div>
</section>
<section class="about-me">
	<div class="grid-container">
	  <div class="about1">
	  	HI STRANGER
I’m a product designer based in SF, currently helping teams work better together in Evernote. I also mentor students on Designlab. A systems thinker by habit and an artist at heart, my experience spans all phases of the design process—from concept to execution. Résumé here.
	  </div>
	  <div class="about2">
	  	Hats Worn
	  	Research: User and UX
Concept creation
Wireframing
Visual & Product Design
Prototyping
Front end development
Testing

	  </div>
	</div>

</section>