/**
 * Site header
 */

//Desktop Header
header {
 	height: 75px;
 	line-height:75px;
 	position:fixed;
 	top:0;
 	left:0;
 	right:0;
 	z-index:999;
 	padding:0 5vw;
  background-color:rgba(0,0,0,0);
  color:$lightbrand!important;
  font-family:$heading-font-family;
 	/* animation magic */
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;

  a {
    color:$lightbrand!important;
    text-decoration:none;
  }

  .link {
    margin-left:15px;
    font-weight:700;
    font-size:110%;
  }

 	.name {
 		text-transform:uppercase;
    font-weight:700;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    font-size:24px;

    .vect-gianni {
      width:auto;
      line-height:75px;
      height:40px;
      opacity:0.2;
      vertical-align:middle;
      margin-top:-6px;
    }
 	}

  .icon {display:none;}

 	&.shrink {
    background-color:rgba(142,158,171,0.75);
 		height:50px;
 		line-height:50px;

    .name {
      line-height:50px;
      font-size:24px;
    }
 	}

 	h1,h2 {
 		-webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
            animation: fadein .5s;
  }
}



.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

@include breakpoint(tablet) {
  header {
    height:50px;
    line-height:50px;
    padding:0 2vw;
     .link {display:none;}
     
     .icon {
      display:block; 
      cursor:pointer;
      width:44px;
      text-align:center;
    }

     .name {
      float:left!important;
      font-size:18px;

      .vect-gianni {
      width:auto;
      line-height:50px;
      height:20px;
      opacity:0.2;
      vertical-align:middle;
      margin-top:-6px;
      margin-right:4px;
    }
     }

     &.shrink {

    .name {
      font-size:18px;
    }
  }
  }
};


//Modal
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding:5vw;
    left: 0;
    top: 0;
    right:0;
    left:0;
    height:100%;
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(142,158,171,0.9); /* Brand w/ opacity */

    > div {
      padding-top: calc(100% - 50%);
    }

    .close {
      position:fixed;
      display:inline-block;
      top:0;
      right:5.5vw;
    }

    a {
      display:block;
      padding:0 3vh;
      font-size:3.8em;
      line-height:2;
      text-align:center;
    }
}

 /* Animations */
/* Safari, Chrome and Opera > 12.1 */
keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
          animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
