/**
 * Work Preview Section
 */

.work-details {
 	padding:2% 0;
 	opacity:0;
 	-webkit-animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;

  &::after {
  	-webkit-animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  }

  h2 {
  	color:$brand-color;
  }

 	.detail-wrap {
 		width:80%;
	  max-width:700px;
	  margin:7vh auto
 	}

	.grid-container {
	  display: grid;
	  grid-template-columns: auto;
	  grid-gap: 4vw;
	  grid-row-gap:7vh;
	  width:100%;
	  max-width:800px;
	  margin:0 auto;

	  &.highlights {
			grid-template-columns: 20% 80%;
		}

		&.spacer {
			margin-bottom:7vh;
		}
	}

	.img-thumb {
		display:block;
  	align-items: center;
  	justify-content: center;
		width:85%;
		text-align:center;
		margin:50px auto;

		img {
			width:100%;
			height:50%;
		}

		.img-meta {
			text-transform:uppercase;
 			color:lighten($text-color, 25%);
 			font-size:80%;
		}

		&.no-stretch {
			img {
				width:auto;
				height:auto;
			}
		}
	}
}

@include breakpoint(laptop) {
	.work-details {
		.grid-container {
			width:80%;
	  	max-width:600px;
		}

		.img-thumb {
	  		&.no-stretch {
	  			img{
	  			width:75%;
	  			height:auto;
	  			}
	  		}
	  	}

	}
};

@include breakpoint(tablet) {
	.work-details {
		.grid-container {
			width:80%;
	  	max-width:500px;

	  	h2 {
	  		font-size:1.4em;
	  	}

	  	p, li {
	  		font-size:.9em;
	  	}
		}
	}
};

@include breakpoint(tablet) {
	.work-details {
		.grid-container {

			&.highlights {
				grid-template-columns: auto;
				grid-gap: 0;
	  		grid-row-gap:0;
		}
			
		}
	}
};

@include breakpoint(phablet) {
	.work-details {

		.img-thumb {
			margin:20px auto 10px auto;
		}
	}
};


/* Animations */

@-webkit-keyframes content-slide-up {
  0% {
  	filter: alpha(opacity=0);
		-moz-opacity:0;
		-khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
  	filter: alpha(opacity=100);
		-moz-opacity:100;
		-khtml-opacity: 1.0;
    opacity: 1.0;
    -webkit-transform: none;
            transform: none;
  }
}

