/**
 * Work Preview Section
 */

.work-details {
 	padding:2% 0;
 	opacity:0;
 	-webkit-animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;

  &::after {
  	-webkit-animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: content-slide-up 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  }



 	&.contentui {
 		h2 {
 			color:rgba(65,126,81,1.0);
 		}
 	}

 	&.filter {
 		h2 {
 			color:#C14242;
 		}
 	}

 	&.confidence {
 		h2 {
 			color:#2B78E4;
 		}
 	}

 	.detail-wrap {
 		width:80%;
	  max-width:700px;
	  margin:7vh auto
 	}

	.grid-container {
	  display: grid;
	  grid-template-columns: auto;
	  grid-gap: 4vw;
	  grid-row-gap:7vh;
	  width:100%;
	  max-width:800px;
	  margin:0 auto;

	  &.highlights {
			grid-template-columns: 20% 80%;
		}

		&.spacer {
			margin-bottom:7vh;
		}
	}

	.img-thumb {
		display:block;
  	align-items: center;
  	justify-content: center;
		width:100%;
		text-align:center;
		margin:50px 0;

		img {
			width:100%;
			height:auto;
		}

		.img-meta {
			text-transform:uppercase;
 			font-size:1vw;
 			color:lighten($text-color, 20%);
 			font-weight:700;
		}

		&.no-stretch {
			img {
				width:auto;
				height:100%;
			}
		}
	}

	ul.key-points {
		
		li {
			font-size:$base-font-size - 2px;
			font-weight:bold;
		}
	}

}


/* Animations */

@-webkit-keyframes content-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

